<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Servo Engine Chooser</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/mainview.css" rel="stylesheet" th:href="@{/css/mainview.css}"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Static top</a></li>
                    <li><a href="#/">Fixed top</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="jumbotron">
        <h3> Welcome to basic Servo - Engine Chooser created by Pacek Wojciech </h3>
        <p th:text="'This date  ' + ${datetime}"></p>
        <p> This is web app that choose servo engine based on input parameters. Catalog of available engines is getting
            from website: <a href="http://www.wobit.com.pl/produkty/1368/silniki-serwo/">Wobit</a></p>
        <p><a th:href="@{/engines/index}">Back to home page</a></p>

    </div>

    <h3>Available servo-engine in your database:</h3>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Nominal Power</th>
            <th>Nominal Moment</th>
            <th>Nominal Speed</th>
            <th>Weight</th>
            <th>Length</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="engine : ${engines}">
                <td th:text="${engine.name}"></td>
                <td th:text="${engine.nominalPower}"></td>
                <td th:text="${engine.nominalMoment}"></td>
                <td th:text="${engine.nominalSpeed}"></td>
                <td th:text="${engine.weight}"></td>
                <td th:text="${engine.length}"></td>
                <td th:text="${engine.comment}"></td>
            </tr>
        </tbody>
    </table>

    <footer class="page-footer font-small blue">

        <div class="footer-copyright text-center py-3">
            © 2019 Copyright: Pacek Wojciech - WIP Politechnika Warszawska
        </div>

    </footer>

</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>